* {
  font-family: Open Sans, arial;
  font-weight: lighter;
}
.logo {
  background-image: url(../images/logo-icon-white.png);
  width: 127px;
  height: 127px;
}
h1,h2,h3 {
  color:#FEFEFE;
}
button {
  position: relative;
  margin-top: 200px;
  margin-left: 600px;
}
.banniereintro {
  background-image: url(../images/payments-banner-graphic.png);
  width: 1400px;
  height: 550px;
}
.banniereintro h1,h2 {
  text-align: center;
  vertical-align: middle;
}
.bannieretext {
  width: 1400px;
  height: 550px;
  display: flex;
  justify-content: space-around;
}
.quick {
  width: 400px;
  height: 250px;
}
.beautiful {
  width:400px;
  height: 250px;
}
.secure {
  width:400px;
  height: 250px;
}
.paid {
  width: 1400px;
  height: 300px;
}
